[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "muRty"]
	path = muRty
	url = https://github.com/arg0naut91/murty
[submodule "neatRanges"]
	path = neatRanges
	url = https://github.com/arg0naut91/neatranges
